.workspace-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary-color);
}

.workspace-container .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* CHANNEL MAIN NAVIGATOR */

.workspace-container .main-navigator {
    display: flex;
    flex-direction: column;
    color: var(--text-primary-color);
    width: 25%;
    height: 93vh;
    min-width: 320px;
    max-width: 380px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary-color);
}

.workspace-container .main-navigator .channel-navigator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.workspace-container .main-navigator .channel-navigator .workspace-name-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 20px;
    color: var(--text-secondary-color);
    border-bottom: 1px solid var(--border-color);
}

.workspace-container .main-navigator .channel-navigator .channel-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

/* Scrollbar */

.workspace-container .main-navigator .channel-navigator .channel-container::-webkit-scrollbar {
    width: 8px;
}

.workspace-container .main-navigator .channel-navigator .channel-container::-webkit-scrollbar-track {
    background: none;
}

.workspace-container .main-navigator .channel-navigator .channel-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #797c7e;
}

.message-list-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-secondary-color);
}

/* ALL BUTTONS */

.button {
    font-size: 16px;
    color: var(--text-secondary-color);
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--bg-tertiary-color);
}

.btn-cancel {
    /* box-shadow: inset 0px 0px 0px 3px rgba(255, 41, 41, 1); */
    background-color: var(--error-color);
}

.btn-create-channel {
    display: inline-block;
    align-self: center;
    width: 80%;
    margin-top: 10px;
}

.button:hover {
    box-shadow: 0px 0px 0px 1px var(--icon-color);
    background-color: var(--bg-secondary-color);
}

/* CREATE CHANNEL CONTAINER FORM */

.workspace-container .main-navigator .channel-navigator .create-channel-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    border: 1px solid var(--border-color);
}

.workspace-container .main-navigator .channel-navigator .create-channel-container .create-channel-title {
    font-size: 21px;
}

.workspace-container .main-navigator .channel-navigator .create-channel-container .create-channel-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 0px 10px 0px;
}

.workspace-container .main-navigator .channel-navigator .create-channel-container .create-channel-form .label {
    font-size: 15px;
}

.workspace-container .main-navigator .channel-navigator .create-channel-container .create-channel-form .input-channel {
    width: 100%;
    height: 24px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    padding-left: 5px;
    margin-top: 3px;
    border: none;
    box-sizing: border-box;
    background-color: var(--bg-tertiary-color);
}

.error {
    color: var(--error-color);
    font-size: 10px;
}

.workspace-container
    .main-navigator
    .channel-navigator
    .create-channel-container
    .create-channel-form
    .input-channel::placeholder {
    color: var(--icon-color);
}

.workspace-container
    .main-navigator
    .channel-navigator
    .create-channel-container
    .create-channel-form
    .input-channel:focus {
    outline: none;
}

.workspace-container .main-navigator .channel-navigator .create-channel-container .create-channel-form .btn-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.workspace-container
    .main-navigator
    .channel-navigator
    .create-channel-container
    .create-channel-form
    .btn-container
    .btn-create {
    align-items: center;
    width: 45%;
}

/* CHAT SECTION */

.workspace-container .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 93vh;
    overflow: auto;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-radius: 0px 5px 5px 0px;
}

.workspace-container .chat-container .channel-name-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 20px;
    color: var(--text-secondary-color);
    border-bottom: 1px solid var(--border-color);
}

.workspace-container .chat-container .channel-name-container .arrow-triangle-container {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--bg-tertiary-color);
    border: 1px solid var(--border-color);
}

.workspace-container .chat-container .channel-name-container .arrow-triangle-container .icon {
    transition: all 0.3s ease;
}

.workspace-container .chat-container .channel-name-container .arrow-triangle-container .icon.icon-rotated {
    transform: rotate(90deg);
}

/* MESSAGE INPUT CONTAINER */

.workspace-container .chat-container .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 97%;
    height: 200px;
    align-self: center;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid rgb(128, 128, 128);
}

.workspace-container .chat-container .form-container .input-form {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.workspace-container .chat-container .form-container .input-form .input {
    display: flex;
    background-color: var(--bg-input-chat-color);
    padding-left: 15px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
}

.workspace-container .chat-container .form-container .input-form .input:focus {
    outline: none;
}

.workspace-container .chat-container .form-container .input-form .btn-submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 17px;
    color: var(--square-color);
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.main .channel-name-container .responsive-main {
    display: none;
}

.workspace-container .chat-container .form-container .input-form .top-buttons {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

.workspace-container .chat-container .form-container .input-form .bottom-buttons {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.workspace-container .chat-container .form-container .input-form .buttons-container {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color);
    justify-content: center;
    /* padding: 10px 20px 30px 40px; */
}

.workspace-container .chat-container .form-container .input-form .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: var(--square-color);
    background-color: transparent;
}

.workspace-container .chat-container .form-container .input-form .icon-button:hover {
    border-radius: 5px;
    color: var(--text-secondary-color);
    background-color: var(--border-color);
}

/* MEDIAQUERIES */

@media screen and (max-width: 1200px) {
    .workspace-container .main-navigator {
        display: none;
    }

    .workspace-container .chat-container {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        width: 100%;
    }

    .workspace-container .chat-container .channel-name-container .arrow-triangle-container {
        display: flex;
    }

    .main .channel-name-container .responsive-main {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 1;
        left: 3px;
        top: 92px;
        width: 200px;
        height: 484px;
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
        border-right: 2px solid var(--border-color);
        border-radius: 0px 5px 5px 0px;
    }

    .responsive-main .create-channel-container .button {
        font-size: 0.7em;
    }

    .button {
        font-size: 0.9em;
    }
}
