.channel-list-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.channel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 10px;
    color: var(--text-primary-color);
}

.channel:hover {
    border-radius: 5px;
    background-color: var(--bg-tertiary-color);
    color: var(--text-secondary-color);
}

.channel.selected {
    border-radius: 5px;
    background-color: var(--bg-tertiary-color);
    color: var(--text-secondary-color);
}
